#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/local/bin/vim;
export VISUAL=/usr/local/bin/vim;

# US English and UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Enable Docker Content Trust
# https://success.docker.com/article/introduction-to-docker-content-trust
export DOCKER_CONTENT_TRUST=1

# Use most as the pager
export PAGER="most -s"